.main{
   
    width: 98.7vw;
    height: 1000vh;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
}

form{
    width: 30vw;
    height: 34vh;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}

h4{
    color: white;
}

.title{
    width: 20vw;
    display: flex;
}

.title label{
    color: white;
    margin: 0px 15px 0px 10px;
    font-weight: 600;
}

.title input{
    border: 1px solid white;
    color: white;
    background-color: black;
    padding: 4px;
    width: 400px;
    border-radius: 10px;
}

.note{
    width: 20vw;
    display: flex;
}

.note label{
    color: white;
    margin: 0px 10px 0px 10px;
    font-weight: 600;
}

.note textarea{
    border: 1px solid white;
    color: white;
    background-color: black;
    padding: 4px;
    width: 400px;
    border-radius: 10px;
}

li{
    overflow: hidden;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
}

li label{
    color: white;
    margin: 5px;
}

li button{
    margin: 10px;
}